{
    "file_to_open": "",
    "auth" : {
        "confluence_url": "",
        "username": "",
        "password": "",
		"is_cloud": false
    },
    "author_to_check": "",
    "page" : {
        "title": "",
        "space": ""}
}
