{% set section = typer_help_chapters['Description'] %}
{{ section['intro'] }}

{{ section['usage'] }}

{{ section['options']|replace("Options", "General Options", 1) }}

These options can be specified for any `COMMAND` except for  `create-config` which ignores these options.

{{ section['commands'] }}

# Commands
{% set section = typer_help_chapters['`confluence_poster post-page`'] %}
{{ section['intro'] }}

{{ section['usage'] }}

{{ section['options'] }}

{% set section = typer_help_chapters['`confluence_poster validate`'] %}
{{ section['intro'] }}

{{ section['usage'] }}

{{ section['options'] }}

{% set section = typer_help_chapters['`confluence_poster create-config`'] %}
{{ section['intro'] }}

{{ section['options'] }}

# Installation

Install the project from PyPI:

```console
$ pip install confluence-poster
```

To start using `confluence_poster` either create the config manually or run `confluence_poster create-config` to start
configuration wizard which will guide you through the configuration.

# Config format

By default the {{ tool_name }} tries to look for config file `config.toml` in the directory where it is invoked and in
XDG_HOME_CONFIG. The config format is as follows:

```toml
{{ config_toml }}```

**Note on password and Cloud instances**: if confluence is hosted by Atlassian, the password is the API token.
Follow instructions at [this link](https://confluence.atlassian.com/cloud/api-tokens-938839638.html).

# Contrib directory

There are shell completions for bash and zsh as well as a sample of
[git post-commit hook](https://git-scm.com/book/en/v2/Customizing-Git-Git-Hooks).

# See also

* [Vim confluencewiki syntax](https://www.vim.org/scripts/script.php?script_id=1994)
* [Paste confluence image in vim](https://github.com/SabbathHex/confluencewiki-img-paste.vim)
* [Atlassian python API](https://atlassian-python-api.readthedocs.io/en/latest/) (On [Github](https://github.com/atlassian-api/atlassian-python-api))